In [2]:
import pandas as pd
import numpy as np

# Chapter 2 提供推荐

In [1]:
critics={'Lisa Rose': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,
 'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5, 
 'The Night Listener': 3.0},
'Gene Seymour': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5, 
 'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0, 
 'You, Me and Dupree': 3.5}, 
'Michael Phillips': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,
 'Superman Returns': 3.5, 'The Night Listener': 4.0},
'Claudia Puig': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,
 'The Night Listener': 4.5, 'Superman Returns': 4.0, 
 'You, Me and Dupree': 2.5},
'Mick LaSalle': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0, 
 'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,
 'You, Me and Dupree': 2.0}, 
'Jack Matthews': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
 'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
'Toby': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [19]:
users = list(critics.keys())
movies = set()
for u in users:
    movies.update(set(critics[u].keys()))
    
df = pd.DataFrame(columns=users, index=movies)

for u in users:
    for m in critics[u].keys():
        df.loc[m, u] = critics[u][m]

In [22]:
df

,Jack Matthews,Toby,Mick LaSalle,Lisa Rose,Michael Phillips,Gene Seymour,Claudia Puig
Snakes on a Plane,4,4.5,4,3.5,3,3.5,3.5
Just My Luck,NaN,NaN,2,3,NaN,1.5,3
"You, Me and Dupree",3.5,1,2,2.5,NaN,3.5,2.5
Lady in the Water,3,NaN,3,2.5,2.5,3,NaN
The Night Listener,3,NaN,3,3,4,3,4.5
Superman Returns,5,4,3,3.5,3.5,5,4